// Vendor
@import "vendor/vendor";
// Settings
@import "settings/settings";
// Base
@import "base/base";
// Elements
@import "abstractions/abstractions";

.scene {
  width: 100%;
  transform: translateY(var(--translateY));
  will-change: transform;
}
